body {
    background-color: rgb(200, 213, 213);
    font-family: "Quicksand", sans-serif;
}
.container-first-field {
    background-color: red;
}
.container-second-field {
    background-color: rgb(196, 196, 228);
}
.container-third-field {
    background-color: rgb(120, 255, 221);
}
.container-fourth-field {
    background-color: rgb(240, 234, 119);
}

.container-maps {
    background-color: rgb(114, 114, 208);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2vw 5vw;
    justify-items: center;
    align-items: center;
}

.container-maps iframe {
    background-color: blueviolet;
}
.container-information {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(85, 85, 238);
    color: white;
    text-align: center;
    align-items: center;
}
